{:kafka {"client.id"           "wallstreetbets-crawler"
         "bootstrap.servers"   "kafka1:9092"
         "compression.type"    "gzip"
         ;; "security.protocol"   "SSL"
         "key.serializer"      "org.apache.kafka.common.serialization.StringSerializer"
         "value.serializer"    "org.apache.kafka.common.serialization.StringSerializer"

         "max.block.ms"        "10000"

         "acks"                "1"
         "retries"             "1"
         "linger.ms"           "10"
         "request.timeout.ms"  "500"
         "delivery.timeout.ms" "2000"
         "enable.idempotence"  "false"}}
